:root {
  --circulo-1-cor: #09a5af;
  --cor-letras: #534f4f;
  --cor-background: #fafafa;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--circulo-1-cor);
}

.fundo-site {
  margin-top: -9rem;
  z-index: 1;
  position: absolute;
}
.circulo-1 {
  animation: surgir2 5s;
  margin-left: -250px;
  background-color: #ceedef;
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  opacity: 90%;
}

@keyframes surgir2 {
  0% {
    opacity: 20%;
    margin-left: 3rem;
  }
  100% {
    opacity: 70%;
  }
}

.circulo-2 {
  animation: surgir 3s;
  margin-left: 20px;
  background: var(--cor-letras);
  width: 29rem;
  height: 29rem;
  border-radius: 100%;
  position: relative;
  margin-top: -32rem;
  opacity: 98%;
}

.background {
  margin-top: 120px;
}

/*---------MENU---------*/
nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

ul {
  margin-left: 60vw;
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

li {
  margin-left: 25px;
  display: flex;
  font-weight: bolder;
  padding: 5px 15px;
  background-color: #ceedef;
  border-radius: 20px;
  border: solid 2px #534f4f;
  animation: surgir3 3s;
  color: #000000;
}

li a {
  text-decoration: none;
  color: #000000;
}

@keyframes surgir3 {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

/*---------TITULO DO SITE---------*/
.texto-apresentacao-site {
  margin-top: 7rem;
  margin-left: 18em;
  position: absolute;
  z-index: 2;
}

.texto-apresentacao-site h2 {
  animation: surgir 3s;
  background-color: var(--cor-background);
  height: 4rem;
  padding: 0.7rem;
  font-size: 4rem;
  color: var(--cor-letras);
  border-radius: 5px;
}

@keyframes surgir {
  0% {
    margin-left: 3rem;
    opacity: 15%;
  }
  100% {
    opacity: 100%;
  }
}

.texto-apresentacao-site b {
  color: var(--circulo-1-cor);
}

.texto-apresentacao-site p {
  margin-left: 0.8rem;
  margin-top: -2.5rem;
  font-size: 1.4rem;
  color: var(--cor-background);
  animation: surgir3 2s;
}

/*---------Sobre---------*/
.container {
  width: 100vw;
  height: 100vh;
  background-color: #09a5af;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lesquerdo,
.Ldireito {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -200px 5vw 0 5vw;
  padding: -200px 0 0 0;
}

.Lesquerdo h1 {
  font-size: 2rem;
  color: #fafafa;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.Lesquerdo p {
  font-size: 18px;
  color: #fafafa;
  align-items: rigth;
}

.Ldireito img {
  width: 30vw;
}

/*---------Marca branca dividindo as sections---------*/
.exercicios {
  margin-top: 50rem;
  background: var(--cor-background);
  height: 17rem;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.exercicios-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.exercicios p {
  color: var(--circulo-1-cor);
  font-size: 2rem;
}

.exercicios p b {
  color: #078d95;
  font-size: 7rem;
}

/* -----------Rodapé da página-----------*/
footer {
  margin: 20px 20px;
  border-top: 2px solid #000000;
  background-color: transparent;
}

small {
  display: block;
  font-size: 1rem;
  text-align: center;
  color: #000000;
  padding: 20px;
}
